.icon{
    background-repeat: no-repeat;
    background-position: center;
}
.icon-16{
    background-size: 16px 16px;
}

.icon-20{
    background-size: 20px 20px;
}

.icon-24{
    background-size: 24px 24px;
}
.icon--backup{
    background-image: url(../../assets/icon/backup-30.png);
}
.icon--mail-statistic{
    background-image: url(../../assets/icon/mail-statistics-48.png);
}

.icon--input{
    background-image: url(../../assets/icon/input-48.png);
}

.icon--output{
    background-image: url(../../assets/icon/output-48.png);
}