.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  height: 36px;
  min-width: 75px;
  padding: 0 16px;
  cursor: pointer;
  white-space: nowrap;
}

.btn-icon {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #dedede;
}

.btn-icon:hover,
.btn-icon:focus {
  border-color: #004186;
}

.btn--default {
  background-color: #0062cc;
  color: #fff;
}

.btn--add,
.btn--success {
  background-color: #006207;
  color: #fff;
}

.btn--close:hover,
.btn--close:focus {
  background-color: #970000 !important;
}

.btn--table:hover,
.btn--table:focus {
  background-color: #f72727 !important;
  color: #fff;
}

.dialog__button--cancel,
.btn--close,
.btn--remove {
  background-color: #ff0000 !important;
  color: #fff !important;
}

.dialog__button--cancel:hover,
.dialog__button--cancel:focus {
  background-color: #b80000 !important;
}

.btn:hover,
.btn:focus {
  background-color: #004186;
}

button.btn--remove-item,
button.btn--close-item {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  color: #ff0000;
  border-color: #ff0000;
  border-style: solid;
}

.btn-mini {
  background: none;
  font-size: 16px;
  width: 20px;
  text-align: center;
  border: unset;
  padding: 0;
  cursor: pointer;
}

.btn--table-mini {
  border: unset;
  background: none;
  cursor: pointer;
}

.btn--small {
  height: 30px;
}

.btn--nobg {
  background: none !important;
  color: #004999;
  font-size: 25px;
  /* border: 1px solid #004999; */
  padding: unset;
}

.btn-refresh {
  min-width: unset;
  padding: unset;
  border: 1px solid #dedede;
  background-color: #fff;
  width: 36px !important;
  font-size: 16px;
  color: #212121;
}

.btn-refresh:hover,
.btn-refresh:focus {
  border-color: #0033ff;
  color: #0033ff;
  background-color: unset;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
